<nav class="pages-nav">
  <ul class="nav-list">
    <li class="nav-element"><a class="button-nav" href="Signin">{{{loginButton1}}}</a></li>
    <li class="nav-element"><a class="button-nav" href="Signup">{{{loginButton2}}}</a></li>
    <li class="nav-element"><a class="button-nav" href="Profile">{{{loginButton3}}}</a></li>
    <li class="nav-element"><a class="button-nav" href="EditProfile">{{{loginButton4}}}</a></li>
    <li class="nav-element"><a class="button-nav" href="Page404">{{{loginButton5}}}</a></li>
    <li class="nav-element"><a class="button-nav" href="Page500">{{{loginButton6}}}</a></li>
  </ul>
</nav>
