<header class="header">
  <nav class="pages-nav">
    <ul class="nav-list">
      <li class="nav-element"><a class="button-nav" href="../../pages/sign-in/signin.hbs">{{{loginButton1}}}</a></li>
      <li class="nav-element"><a class="button-nav" href="../../pages/sign-up/signup.hbs">{{{loginButton2}}}</a></li>
      <li class="nav-element"><a class="button-nav" href="../../pages/profile/profile.hbs">{{{loginButton3}}}</a></li>
      <li class="nav-element"><a class="button-nav" href="../../pages/edit-profile/edit-profile.hbs">{{{loginButton4}}}</a></li>
      <li class="nav-element"><a class="button-nav" href="../../pages/404/404.hbs">{{{loginButton5}}}</a></li>
      <li class="nav-element"><a class="button-nav" href="../../pages/500/500.hbs">{{{loginButton6}}}</a></li>
    </ul>
  </nav>
</header>
    