{{{headerBlock}}}
<main class="popup popup_type_signin">
  <div class="popup__content">
    <div class="popup__title">Вход</div>
    <form class="popup__form popup__form_type_signin" novalidate id="validateRform">
      <div>
        <p class="popup__input-title">Логин</p>
        {{{inputLogin}}}
        {{{errPlaceLogin}}}
        <p class="popup__input-title">Пароль</p>
        {{{inputPassword}}}
        {{{errPlacePassword}}}
        <span id="error-password-signin" class="error-message"></span>
      </div>
      <div>
        {{{signInButton}}}
        <p class="popup__no-account">
        <a class="popup__no-account popup__no-account_link" id="no-account" href="sign-up">Нет аккаунта?</a></p>
      </div>
    </form>
  </div>
</main>
