{{{headerBlock}}}
<main class="popup popup_type_signup">
  <div class="popup__content">
    <div class="popup__title">Редактировать</div>
    <form class="popup__form popup__form_type_signup" novalidate id="validateRform">
      <div>
        <p class="popup__input-title">Отоброжаемое имя</p>
        {{{inputDisplayName}}}
        {{{errDisplayName}}}
        <p class="popup__input-title">Почта</p>
        {{{inputMail}}}
        {{{errPlaceMail}}}
        <p class="popup__input-title">Логин</p>
        {{{inputLogin}}}
        {{{errPlaceLogin}}}
        <p class="popup__input-title">Имя</p>
        {{{inputFirst}}}
        {{{errPlaceFirst}}}
        <p class="popup__input-title">Фамилия</p>
        {{{inputSecond}}}
        {{{errPlaceSecond}}}
        <p class="popup__input-title">Телефон</p>
        {{{inputTel}}}
        {{{errPlaceTel}}}
        <p class="popup__input-title">Пароль</p>
        {{{inputPassOne}}}
        {{{errPlacePassOne}}}
        <p class="popup__input-title">Пароль (еще раз)</p>
        {{{inputPassTwo}}}
        {{{errPlacePassTwo}}}
      </div>
      <div>
        {{{signUpButton}}}
      </div>
    </form>
  </div>
</main>
