{{#if isSelected }}
  <div class= "content-holder content-holder__choice" id="{{id}}">
{{else}}
  <div class= "content-holder" id="{{id}}">
{{/if}}
  <div class="avatar-parent">
    <img class="avatar" id="avatar" src="{{avatar}}">
    {{!-- <div class="avatar" id="avatar"></div> --}}
  </div>
  <div class="message-parent">
    {{!-- <h2 class="user-name">{{userName}}</h2> --}}
    <p class="text-message">{{title}}</p>
  </div>
  <div class="info">
    {{!-- <div class = "date">
      {{dateTime}}
    </div> --}}
    <div class="new-messages-num ">{{!-- unread-show --}}
      {{unread_count}}
    </div>
  </div>
</div>
