<div class= "content-holder" id="{{id}}">
  <div class="avatar-parent">
    <div class="avatar"></div>
  </div>
  <div class="message-parent">
    {{!-- <h2 class="user-name">{{userName}}</h2> --}}
    <p class="text-message">{{title}}</p>
  </div>
  <div class="info">
    {{!-- <div class = "date">
      {{dateTime}}
    </div> --}}
    <div class="new-messages-num ">{{!-- unread-show --}}
      {{unread_count}}
    </div>
  </div>
</div>

