{{!-- <aside class="{{ styles.chats-list }}">
{{#if isLoaded }}
    {{#each chats}}
        {{{this}}}
    {{/each}}
    {{{profileLink}}}
{{else}}
  Loading...
{{/if}}
</aside> --}}

<div class="chat__search-block">
  <a class="chat__profile" href="/profile">Профиль ></a>
  <a class="chat__add-btn" href="/chat-add">Добавить чат +</a>
</div>
<div class="chat__list">
  {{{chat0}}}
  {{{chat1}}}
  {{{chat2}}}
  {{{chat3}}}
  {{{chat4}}}
  {{{chat5}}}
  {{{chat6}}}
  {{{chat7}}}
  {{{chat8}}}
  {{{chat9}}}
  {{{chat10}}}
  {{{chat11}}}
  {{{chat12}}}
  {{{chat13}}}
  {{{chat14}}}
  {{{chat15}}}
</div>

